# Ignore everything
/*

# include .config
!/.config
# exclude all in .config
.config/*

# i3
!.config/albert/
!.config/i3/
!.config/i3blocks/

# vim and neovim
!.config/nvim
!.vim/
!.vimrc

# fish
!.config/omg/
!.config/fish/

!.gitignore
