# Ignore everything
/*

# git repo files
!.gitignore
!.gitmodules

# Avoid tags generation
!.notags

# include .config
!/.config

# exclude all in .config
/.config/*

# nixpkgs
!.config/nixpkgs

# i3
!.config/albert/albert.conf
!.config/i3/
!.wallpaper.png

# vim and neovim
!.config/nvim
!.vim/
!.vimrc
.vim/.netrwhist
# exclude bundles
.vim/bundles/
.vim/langservers/*
!.vim/langservers/install.sh
!.vim/langservers/downloadSchemas.js

# fish
!/.config/omg/
!/.config/fish/
.config/fish/fishd.*

# tmux
.tmux
!.tmux/tpm
!.tmux.conf

# git
!.gitconfig

# include Xresources
!.Xresources
!.Xresources.d/

# include .xprofile
!.xprofile

# include fonts
!/.local
/.local/*
!/.local/share
/.local/share/*
!/.local/share/fonts
!/.local/share/konsole
